<p>Olá <%= @user.email %>,</p>

<p> Obrigado pelo seu interesse em nossos serviços! Retornaremos o seu contato o mais brevemente possível. </p>

<p>Atenciosamente, <br> a equipe Metanoia.</p>

<%= link_to "Veja nosso site", root_url %>
