<div class="mob-cards">
    <div class="mob-flip-card">
        <div class="mob-flip-card-inner">
        <div class="mob-flip-card-front">
            <div class="mob-image-card flip-card-front" style="background-image:url(<%= asset_path 'mob_socios_agliberto.png' %>);background-repeat: no-repeat; background-size: contain; background-position: center;">
            </div>
        </div>
        <div class="mob-flip-card-back">
            <p class="mob-text-left">CEO e Founder do Instituto Ampla Pesquisa, nosso Sócio-Diretor Agliberto Ribeiro é apaixonado por dados e informações. Na Metanoia, agrega toda a sua experiência em pesquisas de mercado e política na construção das melhores estratégias para nossos clientes.</p>
        </div>
        </div>
    </div>

    <div class="mob-flip-card">
        <div class="mob-flip-card-inner">
        <div class="mob-flip-card-front">
            <div class="mob-image-card flip-card-front" style="background-image: url(<%= asset_path 'mob_socios_gabriel.png' %>);background-repeat: no-repeat; background-size: contain; background-position: center;">
            </div>
        </div>
        <div class="mob-flip-card-back">
            <p class="mob-text-center">Com vasta experiência no mercado publicitário, Gabriel Campelo já atuou como executivo da TV Verdes Mares e atendeu diversas contas do segmento público e privado. Passou por algumas das principais agências de publicidade de Fortaleza e agora integra o time de diretores da Metanoia.</p>
        </div>
        </div>
    </div>

    <div class="mob-flip-card">
        <div class="mob-flip-card-inner">
        <div class="mob-flip-card-front">
            <div class="mob-image-card flip-card-front" style="background-image: url(<%= asset_path 'mob_socios_leo.png' %>);background-repeat: no-repeat; background-size: contain; background-position: center;">
            </div>
        </div>
        <div class="mob-flip-card-back">
            <p class="mob-text-right">Um estrategista político de mão cheia, Leonardo Bayma é doutorando em Ciência Política e possui vasta experiência em coordenação, planejamento e estratégia de mandatos políticos, campanhas eleitorais e gestão institucional. Pioneiro na internet na área de estratégia eleitoral com o treinamento "Estrategista Eleitoral", já atendeu clientes em diversos estados brasileiros.</p>
        </div>
        </div>
    </div>
</div>