<%# INDEX %>
<div id="mob-index" style="display:block;">
    <div class="mob-vertical-wrapper height-eighty-eight" style="opacity:1;">
        <div class="mob-index-logo height-thirty-five"></div>
        <div class="mob-index-vc height-thirty"></div>
        <div id="mob-form" style="display:none;opacity:0;"><%= render 'form' %></div>
    </div>
    <div class="mob-menu-wrapper height-twelve">
        <div class="mob-menu-agencia mob-menu-item height-twelve"></div>
        <div class="mob-menu-socios mob-menu-item height-twelve"></div>
        <div class="mob-menu-solucoes mob-menu-item height-twelve"></div>
        <div class="mob-menu-portfolio mob-menu-item height-twelve"></div>
    </div>
</div>
<%# AGENCIA %>
<div id="mob-agencia" style="display:none;">
    <div class="mob-vertical-wrapper height-eighty-eight" style="opacity:0;">
        <div class="mob-agencia-xadrez height-thirty top-minus-seven"></div>
        <div class="mob-agencia-title top-six height-twenty-seven"></div>
        <div class="mob-agencia-text height-thirty-five font-one-nine padding-top-three">
            <p>Aqui, mesclamos estratégia e comunicação de forma personalizada, afim de oferecer as melhores soluções e resultados, de acordo com a realidade e objetivos de cada cliente. <br><br>
            Tratar cada cliente como único, esse é o grande diferencial em que acreditamos. <br><br>
            A base para o sucesso de qualquer projeto é uma boa estratégia e planejamento. Aqui na Metanoia, unificamos as visões de um especialista em pesquisas, um estrategista político e um publicitário para, a partir das visões e expertises individuais, criarmos as melhores estratégias e soluções em comunicação para nossos clientes. Sempre de maneira personalizada e de acordo com a realidade e com os objetivos que estes almejam alcançar. <br><br>
            Vamos juntos planejar o futuro?
            </p>
        </div>
    </div>
    <div class="mob-menu-wrapper height-twelve">
        <div class="mob-menu-agencia-yellow mob-menu-item height-twelve"></div>
        <div class="mob-menu-socios mob-menu-item height-twelve"></div>
        <div class="mob-menu-solucoes mob-menu-item height-twelve"></div>
        <div class="mob-menu-portfolio mob-menu-item height-twelve"></div>
    </div>
</div>
<%# SOCIOS %>
<div id="mob-socios" style="display:none;">
    <div class="mob-vertical-wrapper height-eighty-eight" style="opacity:0;">
        <div class="mob-socios-title height-twenty"></div>
        <%= render 'mobile_cards' %>
    </div>
    <div class="mob-menu-wrapper height-twelve">
        <div class="mob-menu-agencia mob-menu-item height-twelve"></div>
        <div class="mob-menu-socios-yellow mob-menu-item height-twelve"></div>
        <div class="mob-menu-solucoes mob-menu-item height-twelve"></div>
        <div class="mob-menu-portfolio mob-menu-item height-twelve"></div>
    </div>
</div>
<%# SOLUCOES %>
<div id="mob-solucoes" style="display:none;">
    <div class="mob-vertical-wrapper height-eighty-eight" style="opacity:0;">
        <div class="mob-solucoes-title height-eighteen"></div>
        <div class="mob-solucoes-line height-five"></div>
        <%= render 'mobile_solucoes' %>
        <div class="mob-solucoes-line height-five"></div>
    </div>
    <div class="mob-menu-wrapper height-twelve">
        <div class="mob-menu-agencia mob-menu-item height-twelve"></div>
        <div class="mob-menu-socios mob-menu-item height-twelve"></div>
        <div class="mob-menu-solucoes-yellow mob-menu-item height-twelve"></div>
        <div class="mob-menu-portfolio mob-menu-item height-twelve"></div>
    </div>
</div>
<%# PORTFOLIO %>
<div id="mob-portfolio" style="display:none;">
    <div class="mob-vertical-wrapper height-eighty-eight" style="opacity:0;">
        <div class="mob-portfolio-title margin-bottom-five height-ten"></div>
        <%= render 'mobile_carousel' %>
    </div>
    <div class="mob-menu-wrapper height-twelve">
        <div class="mob-menu-agencia mob-menu-item height-twelve"></div>
        <div class="mob-menu-socios mob-menu-item height-twelve"></div>
        <div class="mob-menu-solucoes mob-menu-item height-twelve"></div>
        <div class="mob-menu-portfolio-yellow mob-menu-item height-twelve"></div>
    </div>
</div>
