<%# INDEX %>
<div id="mob-index" style="display:block;">
    <div class="mob-vertical-wrapper" style="opacity:1;">
        <div class="mob-index-logo"></div>
        <div class="mob-index-vc"></div>
    </div>
    <div class="mob-menu-wrapper">
        <div class="mob-menu-agencia mob-menu-item"></div>
        <div class="mob-menu-socios mob-menu-item"></div>
        <div class="mob-menu-solucoes mob-menu-item"></div>
        <div class="mob-menu-portfolio mob-menu-item"></div>
    </div>
</div>
<%# AGENCIA %>
<div id="mob-agencia" style="display:none;">
    <div class="mob-vertical-wrapper" style="opacity:0;">
        <div class="mob-agencia-xadrez"></div>
        <div class="mob-agencia-title"></div>
        <div class="mob-agencia-text">
            <p>Aqui, mesclamos estratégia e comunicação de forma personalizada, afim de oferecer as melhores soluções e resultados, de acordo com a realidade e objetivos de cada cliente. <br><br>
            Tratar cada cliente como único, esse é o grande diferencial em que acreditamos. <br><br>
            A base para o sucesso de qualquer projeto é uma boa estratégia e planejamento. Aqui na Metanoia, unificamos as visões de um especialista em pesquisas, um estrategista político e um publicitário para, a partir das visões e expertises individuais, criarmos as melhores estratégias e soluções em comunicação para nossos clientes. Sempre de maneira personalizada e de acordo com a realidade e com os objetivos que estes almejam alcançar. <br><br>
            Vamos juntos planejar o futuro?
            </p>
        </div>
    </div>
    <div class="mob-menu-wrapper">
        <div class="mob-menu-agencia-yellow mob-menu-item"></div>
        <div class="mob-menu-socios mob-menu-item"></div>
        <div class="mob-menu-solucoes mob-menu-item"></div>
        <div class="mob-menu-portfolio mob-menu-item"></div>
    </div>
</div>
<%# SOCIOS %>
<div id="mob-socios" style="display:none;">
    <div class="mob-vertical-wrapper" style="opacity:0;">
        <div class="mob-socios-title"></div>
        <%= render 'mobile_cards' %>
    </div>
    <div class="mob-menu-wrapper">
        <div class="mob-menu-agencia mob-menu-item"></div>
        <div class="mob-menu-socios-yellow mob-menu-item"></div>
        <div class="mob-menu-solucoes mob-menu-item"></div>
        <div class="mob-menu-portfolio mob-menu-item"></div>
    </div>
</div>
<%# SOLUCOES %>
<div id="mob-solucoes" style="display:none;">
    <div class="mob-vertical-wrapper" style="opacity:0;">
        <div class="mob-solucoes-title"></div>
        <div class="mob-solucoes-line"></div>
        <%= render 'mobile_solucoes' %>
        <div id="mob-solucoes-line-bottom"class="mob-solucoes-line"></div>
    </div>
    <div class="mob-menu-wrapper">
        <div class="mob-menu-agencia mob-menu-item"></div>
        <div class="mob-menu-socios mob-menu-item"></div>
        <div class="mob-menu-solucoes-yellow mob-menu-item"></div>
        <div class="mob-menu-portfolio mob-menu-item"></div>
    </div>
</div>
<%# PORTFOLIO %>
<div id="mob-portfolio" style="display:none;">
    <div class="mob-vertical-wrapper" style="opacity:0;">
        <div class="mob-portfolio-title"></div>
        <%= render 'mobile_carousel' %>
    </div>
    <div class="mob-menu-wrapper">
        <div class="mob-menu-agencia mob-menu-item"></div>
        <div class="mob-menu-socios mob-menu-item"></div>
        <div class="mob-menu-solucoes mob-menu-item"></div>
        <div class="mob-menu-portfolio-yellow mob-menu-item"></div>
    </div>
</div>
