<p>Olá,</p>
<p class="mb-1"><%= @contact.name.capitalize + ", com e-mail ou telefone: " + @contact.email + " , enviou a mensagem abaixo."%></p>

<p class="mb-1">MENSAGEM: <%= @contact.message %></p>

<p class="mb-1">Tenha um bom dia!</p>
<p>Metanoia</p>
