@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  #background {
    display:none;
  }
  .container {
    display:none;
  }
  #agencia {
    display:none;
  }
  #solucoes {
    display:none;
  }
  .footer-xadrez {
    display:none;
  }
  .background-bottom {
    display:none;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
}
