#desktop {
    display:block;
}
#mobile {
    display: none;
    #mob-index {
        background-image:asset-url('mob_index_bkg_1.jpg');
        transition: opacity 0.5s;
    }
    #mob-agencia {
        background-color: white;
        transition: opacity 0.5s;
    }
    #mob-socios {
        background-image:asset-url('mob_socios_bkg.jpg');
        transition: opacity 0.5s;
    }
    #mob-solucoes {
        background-color: white;
        transition: opacity 0.5s;
    }
    #mob-portfolio {
        background-image:asset-url('mob_portfolio_bkg.jpg');
        transition: opacity 0.5s;
    }
}
@media only screen and (max-width: 1000px){
    body {
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 1000px){
    #desktop {
        display:none;
    }
    #mobile {
        display: block;
    }
}
.mob-vertical-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height:88vh;
    width: 100vw;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    overflow: hidden;
    transition: opacity 0.5s;
}
/////// MENU BAR BOTTOM
.mob-menu-wrapper {
    background-color: black;
    border-top: 0.2vh solid white; 
    // height:12vh; 
    width: 100vw; 
    display:flex; 
    align-items: flex-end; 
    justify-content: center;
    transition: opacity 0.5s;
}
.mob-menu-item {
    position: relative; 
    cursor:pointer; 
    width: 25vw; 
    // height:12vh; 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
}
.mob-menu-agencia {
    background-image: asset-url("mob_menu_agencia_1.png");
}
.mob-menu-agencia-yellow {
    background-image: asset-url("mob_menu_agencia_2.png");
}
.mob-menu-socios {
    background-image: asset-url("mob_menu_socios_1.png");
}
.mob-menu-socios-yellow {
    background-image: asset-url("mob_menu_socios_2.png");
}
.mob-menu-solucoes {
    background-image: asset-url("mob_menu_solucoes_1.png");
}
.mob-menu-solucoes-yellow {
    background-image: asset-url("mob_menu_solucoes_2.png");
}
.mob-menu-portfolio {
    background-image: asset-url("mob_menu_portfolio_1.png");
}
.mob-menu-portfolio-yellow {
    background-image: asset-url("mob_menu_portfolio_2.png");
}
////// INDEX
.mob-index-logo {
    background-image: asset-url("mob_index_logo.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 60vw;
    // height: 35vh;
    align-self: center;
}
.mob-index-vc {
    background-image: asset-url("mob_index_botao_vamos_conversar.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 60vw;
    // height: 30vh;
    align-self: center;
}
//////// AGENCIA
.mob-agencia-xadrez {
    position: absolute;
    // top:-7vh;
    right:0;
    background-image: asset-url("mob_agencia_xadrez.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 30vw;
    // height: 30vh;
}
.mob-agencia-title {
    position: absolute;
    // top:6vh;
    left:15vw;
    background-image: asset-url("mob_agencia_title.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 50vw;
    // height: 27vh;
}
.mob-agencia-text {
    text-align: left;
    width: 70vw;
    // height: 35vh;
    font-family: $my-font2;
    // font-size: 1.9vh;
    line-height: 1.15;
    font-weight: 600;
    // padding-top: 3vh;
}
////// SOCIOS
.mob-socios-title {
    background-image: asset-url("mob_socios_title.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 75vw;
    // height: 20vh;
}

      // FLIP CARD
.mob-cards {
    display: grid;
    grid-template-columns: 1fr;
    // grid-gap: 1vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom:5vh;
  }
  .mob-image-card {
    background-size: contain;
    background-position: center;
    // height: 20vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $my-font2;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    // box-shadow: 0 0 16px rgba(0,0,0,0.2);
    position: relative;
}
.mob-flip-card {
    perspective: 10000px;
    -webkit-perspective: 1000px;
    // height: 20vh;
    width: 75vw;
}

.mob-flip-card-inner {
    position: relative;
    // height: 20vh;
    width: 75vw;
    text-align: center;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.mob-flip-card:hover .mob-flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.mob-flip-card-front, .mob-flip-card-back {
    position: absolute;
    // height: 20vh;
    width: 75vw;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
}

.mob-flip-card-back {
    background-color: $yellow;
    color: black;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    // padding: 1vh;
    p {
        line-height: 1;
        margin:0;
        font-family: $my-font2;
        // font-size: 1.7vh;
        // font-weight: lighter;
    }
}

.mob-flip-card-back .mob-text-left {
    text-align: left;
}

.mob-flip-card-back .mob-text-center {
    text-align: center;
}

.mob-flip-card-back .mob-text-right {
    text-align: right;
}
/////// SOLUCOES
.mob-solucoes-title {
    background-image: asset-url("mob_solucoes_title.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 70vw;
    // height: 18vh;
}
.mob-solucoes-line {
    background-image: asset-url("mob_solucoes_linha.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 30vw;
    // height: 5vh;
}
#mobsolcarousel-example {
    display: block;
    position: relative;
    align-self: center;
    width: 50vw;
    // height: 50vh;
    .carousel-indicators {
        position: absolute;
        // bottom: -4vh;
        margin:0;
        li {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 12px;
        background-color: #bbb;
        border-radius: 50%;
        transition: background-color 0.6s ease;
        }
        .active, li:hover {
            background-color: #ffbb00;
        }
    }
    .carousel-inner {
        width: 50vw;
        // height: 50vh;
        align-items: center;
        .carousel-item {
            width: 50vw;
            // height: 50vh;
            align-items: center;
            .carousel-caption {
                // height: 30vh;
                color: black;
                padding:0;
                p {
                    // padding-top: 4vh;
                    margin: 0;
                    margin-block: 0;
                    font-family: $my-font2;
                    font-weight: bold;
                    // font-size: 1.8vh;
                }
            }
            img {
                width: 50vw;
                // height: 20vh;
            }
        }
    }
}
#mob-solucoes-line-bottom {
    position: absolute;
    // bottom: 18vh;
    margin:0;
}
#mobsoliconprev {
    height: 200px;
    width: 150px;
    position: absolute;
    left: -70px;
    opacity: 0;
}
#mobsoliconnext {
    height: 200px;
    width: 150px;
    position: absolute;
    right: -70px;
    opacity: 0;
}
/////// PORTFOLIO
.mob-portfolio-title {
    align-self: center;
    background-image: asset-url("mob-portfolio_title.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    width: 40vw;
    // height: 10vh;
    // margin-bottom: 5vh;
}
#mobcarousel-example {
    display: block;
    position: relative;
    align-self: center;
    width: 60vw;
    // height: 60vh;
    .carousel-inner {
        width: 60vw;
        // height: 60vh;
        img {
            width: 60vw;
            // height: 60vh;
        }
    }
}
#mobiconprev {
    height: 62px;
    width: 62px;
    position: absolute;
    left: -30px;
    opacity: 1;
}
#mobiconnext {
    height: 62px;
    width: 62px;
    position: absolute;
    right: -30px;
    opacity: 1;
}

///////// SIZES
.height-eighty-eight {
    height:88vh;
}
.height-twelve {
    height:11.8vh;
}
.height-thirty {
    height: 30vh;
}
.height-thirty-five {
    height: 35vh;
}
.top-minus-seven {
    top:-7vh;
}
.top-six {
    top:6vh;
}
.height-twenty-seven {
    height: 27vh;
}
.font-one-nine {
    font-size: 1.9vh;
}
.padding-top-three {
    padding-top: 3vh;
}
.height-twenty {
    height: 20vh;
}
.grid-gap-one {
    grid-gap: 1vh;
}
.margin-bottom-five {
    margin-bottom:5vh;
}
.padding-one {
    padding: 1vh;
}
.font-one-seven {
    font-size: 1.7vh;
}
.height-eighteen {
    height: 18vh;
}
.height-five {
    height: 5vh;
}
.height-fifty {
    height: 50vh;
}
.bottom-minus-four {
    bottom: -4vh;
}
.padding-top-four {
    padding-top: 4vh;
}
.font-one-eight {
    font-size: 1.8vh;
}
.bottom-eighteen {
    bottom: 18vh;
}
.height-ten {
    height: 10vh;
}
.height-sixty {
    height: 60vh;
}